# Keystatic
KEYSTATIC_GITHUB_CLIENT_ID=<YOUR_KEYSTATIC_GITHUB_CLIENT_ID>
KEYSTATIC_GITHUB_CLIENT_SECRET=<YOUR_KEYSTATIC_GITHUB_CLIENT_SECRET>
KEYSTATIC_SECRET=<YOUR_KEYSTATIC_SECRET>
PUBLIC_KEYSTATIC_GITHUB_APP_SLUG=<YOUR_KEYSTATIC_GITHUB_APP_SLUG>
VITE_PUBLIC_VAPID_KEY=<VITE_PUBLIC_VAPID_KEY>
PRIVATE_VAPID_SECRET=<PRIVATE_VAPID_SECRET>
