---
export const prerender = true;

import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import { Icon } from '@/assets/icons/icon';
import { postsFilter } from '@/utils/collections/filters';
import { ArticleCard, HrIcon } from '@/components';
import { humanDate, longDate } from '@/utils/posts/date';

const posts = (await getCollection('posts', postsFilter['filter-published-on-production']))
  .sort((a,b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map((p) => ({...p.data, slug: p.slug, id: p.id}));
---

<Layout title="Posts - Osee Blogs">
  <section class="posts-section">
    <ul class="posts__list">
      <h1 class="posts__title">All my posts over the years.</h1>
      <HrIcon icon="book" /> 
    
      {posts.map((p, i) => (
        <li class="block px-1 py-2 content-center-safe justify-items-center-safe">
          <div class="post__wrapper">
            <time class="font-grandstander" datetime={p.pubDate.toISOString()}>
                {longDate(p.pubDate)}
            </time>
            <ArticleCard {...p} />
          </div>
        </li>
        <span>{i < posts.length ? <hr class="after-article" /> : ""}</span>
      ))}
    </ul>
  </section>
</Layout>

<style>
  section {}
  .posts-section {
    &{
      display: block;
      width: stretch;
      max-width: 80ch;
      margin-inline: auto;
      align-content: center safe;
      justify-items: center safe;
      padding: 0 --space(4);
    }
    ul.posts__list {
      &{
        display: block;
        list-style: none;
        width: stretch;
        padding: 0;
        margin-inline: auto;
        justify-items: center safe;
        align-content: center safe;
      }
      .posts__title {
        font-size: xx-large;
        font-family: "Grandstander", sans-serif;
        font-weight: normal;
        color: light-dark(rgb(121, 29, 29), white);
        line-height: 1.5;
      }
      li {
        & {
          display: block;
          padding: --space(0.5) --space(0.25);
          justify-items: center safe;
          align-content: center safe;
        }
        .post__wrapper {
          & {
            display: flex;
            margin-top: --space(4);
            flex-direction: if(
              media(width < 400px): column;
              else: row;
            );
            align-items: if(
              media(width < 400px): start;
              else: start safe;
            );
            justify-content: flex-start;
            gap: if(
              media(width < 400px): --space(1);
              else: --space(16);
            );
          }
          time {
            font-size: 1.2rem;
            margin: if(
              media(width < 400px): 0;
              else: --space(6) 0 0 0
            )
          }
        }
      }
      hr.after-article { 
        margin: --space(9) auto --space(3); 
        border: none; 
        border-top: 0.1rem solid; 
      }
    }
  }
</style>

