---
import { Icon, type IconName } from '@/assets/icons/icon';
import type { HTMLAttributes } from 'astro/types';

interface Props {
    icon: IconName
   "icon-props"?: HTMLAttributes<"svg">
}
const { icon, 'icon-props': rest } = Astro.props;
---

<div class="a">
    <!-- Left Line -->
    <hr class="b" />


    <!-- Icon Container -->
    <div class="icon__wrapper">
        <Icon name={icon} />
    </div>

    <!-- Right Line -->
    <hr class="c" />
</div>

<style>
    .a { display: flex; flex-direction: row; width: stretch; align-items: center; justify-content: center; }
    .b, .c { display: flex; width: stretch; flex-grow: 1; border: none; border-top: 0.1rem solid; }
    .icon__wrapper {
        margin-inline: --space(4);
    }
</style>
