---
import { Icon, type IconName } from '@/assets/icons/icon';
import type { HTMLAttributes } from 'astro/types';

interface Props {
    icon: IconName
   "icon-props"?: HTMLAttributes<"svg">
}
const { icon, 'icon-props': rest } = Astro.props;
---

<div class="flex w-full items-center">
    <!-- Left Line -->
    <hr class="flex grow border-t border-current" />


    <!-- Icon Container -->
    <div class="mx-4">
        <Icon name={icon} />
    </div>

    <!-- Right Line -->
    <hr class="flex grow border-t border-current" />
</div>