---
export const prerender = true;

import Layout from "@/layouts/Layout.astro";

---

<Layout title="What I Use">
    <section class="uses__section">
        <h1 class="uses__title">
            What I use
        </h1>
        <p class="uses__description">
            Here is a collection of all the tools I use in my day to day <i class="inline">creative</i> activity.
        </p>

        <div class="uses__grid">
            <div>
                <h2 class="uses__h2">Programming</h2>
                <ul class="uses__ul">
                    <li><a href="https://astro.build" target="_blank">Astro</a></li>
                    <li><a href="https://markdoc.dev" target="_blank">Markdoc</a></li>
                    <li><a href="https://tailwindcss.com" target="_blank">Tailwind CSS</a></li>
                    <li><a href="https://keystatic.com" target="_blank">Keystatic CMS</a></li>
                    <li><a href="https://vercel.org" target="_blank">Vercel</a></li>
                    <li><a href="https://netlify.com" target="_blank">Netlify</a></li>
                    <li><a href="https://supabase.com" target="_blank">Supabase</a></li>
                    <li><a href="https://flutter.dev" target="_blank">Flutter</a></li>
                    <li><a href="https://code.visualstudio.com" target="_blank">VS Code</a></li>
                </ul>
            </div>
            <div>
                <h2 class="uses__h2">Architecture, Art & 3D</h2>
                <div class="">
                    <h3 class="">Software</h3>
                    <ul class="">
                        <li><a href="https://myarchicad.graphisoft.com/" target="_blank">Archicad</a></li>
                        <li><a href="https://www.autodesk.com/uk/products/revit/overview" target="_blank">Revit</a></li>
                        <li><a href="https://blender.org" target="_blank">Blender</a></li>
                    </ul>
                </div>
                <div class="mt-6">
                    <h3 class="text-lg font-semibold mb-2">Tools & Stationery</h3>
                    <ul class="list-disc pl-5 space-y-1">
                    <li><a href="https://artlineusa.com/" target="_blank">Artline Pens</a></li>
                    <li>
                        <a href="https://www.prismacolor.com/" target="_blank">Prismacolor</a>
                        {" & "}
                        <a href="https://www.faber-castell.com/" target="_blank"> Faber-Castell</a></li>
                    <li><a href="https://en.canson.com/" target="_blank">Canson Multimedia Paper</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
</Layout>


<style>
    .uses__section {
        & {
            width: stretch;
            max-width: 48rem;
            margin-inline: auto;
            padding: --space(1.5);
            min-height: 100dvh;
            font-family: "Grandstander", sans-serif;
            font-size: 1.2rem;
            line-height: 1.6;
        }
        h1.uses__title {
        }
        p.uses__description{
            font-style: italic;
        }
        div: .uses__grid {
            & {
                display: grid;
                grid-template-columns: if(
                    media(width < 768px): 1;
                    else: 2;
                );
                gap: --space(3);
            }
        }
        h2.uses__h2 {
            border: none;
            border-bottom: solid;
            padding-bottom: --space(0.5);
        }
        ul.uses__ul, ul {
            &{
                list-style: upper-latin;
                gap: --space(2);
            }
        }
        a {
            &{
                color: var(--link-color);
            }
        }
    }
</style>
