button {
	padding: --space(2) --space(4);
	font-size: 1.1rem;
	corner-shape: squircle;
	border-color: transparent;
	outline-color: transparent;
}

.cta {
	border-radius: 2rem;
	font-family: 'Grandstander', sans-serif;
}

.icon-primary {
	fill: light-dark(rgb(121, 29, 29), white);
}
