* {
	box-sizing: border-box;
}

body {
	font-family:
		'Atkinson Hyperlegible', 'Open Sans', 'Source Sans Pro', 'Roboto', 'Helvetica Neue', Helvetica,
		Arial, sans-serif;
	margin: 20px;
	background-color: #f9f9f9;
	padding: 20px;
}

header {
	text-align: center;
	margin-bottom: 2em;
}

h1 {
	font-size: 2.5em;
	color: #333;
}

p,
time {
	font-size: 1.2em;
	color: #666;
	margin: 0;
}

time {
	display: block;
	margin-top: 1rem;
	font-size: 0.9em;
	font-style: italic;
	color: #999;
}

footer {
	text-align: center;
	margin-top: 20px;
}

a {
	color: #007bff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

article {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
