---
import { HrIcon } from '..';

interface Props {
    'class': string;
}
const { 'class': cn } = Astro.props;
---

<div class:list={["text-2xl font-grandstander italic", cn]}>
    {/*
    <blockquote class="">
        <slot />
    </blockquote>
    */}
    <slot />
</div>
<HrIcon icon='book' />
