---
import Layout from "@/layouts/Layout.astro";


---

<Layout title="Some of my work">
    <aside>
        hello world
    </aside>
    <main>
        <section>
            <h1 class="title">Some of my work</h1>
            <p class="subtitle">This page is under construction.</p>
        </section>
    </main>
</Layout>
