---
import Layout from "@/layouts/Layout.astro";

const { workId, category } = Astro.params
if (!workId || !category) {
    return new Response(null, { status: 404 });
}
---

<Layout title="Some of my work">
    <aside>
        hello world
    </aside>
    <main>
        <section>
            <h1 class="title">Work Id {workId} under category {category} </h1>
            <p class="subtitle">This page is under construction.</p>
        </section>
    </main>
</Layout>
