---
import "@/styles/post.css";
import { humanDate } from '@/utils/posts/date';
import type { HTMLAttributes } from 'astro/types';
import type { InferEntrySchema } from 'astro:content';

interface Props extends HTMLAttributes<"section"> {
    frontmatter: InferEntrySchema<"posts">
}
const {frontmatter, ...rest} = Astro.props;

// const authors = await getEntries(frontmatter.authors)

---

<section class="post__section">
    <header class="post__header">
        <time datetime={frontmatter.pubDate.toISOString()}>
            {humanDate(frontmatter.pubDate, {})}
        </time>
    </header>
    <article class="post__article">
        <slot />
    </article>
</section>
